{
    "plugins": ["import"],
    "rules": {
        "import/no-unresolved": ["error", { "commonjs": true }],
        "import/no-extraneous-dependencies": ["error"]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".ts"]
            }
        }
    }
}
