{
    "plugins": ["import"],
    "rules": {
        "import/no-unresolved": ["error", { "commonjs": true }],
        "import/no-extraneous-dependencies": ["error"]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".ts"]
            }
        }
    },
    "root": true,
    "env": {
        "node": true
    },
    "extends": ["plugin:vue/vue3-essential", "eslint:recommended", "@vue/eslint-config-typescript", "@vue/eslint-config-prettier"],
    "parserOptions": {
        "ecmaVersion": "latest"
    },

}
