$mainColor: #21035b;
$mainLightColor: white;

$accentBGColorGreen: linear-gradient(228.82deg, #176528 3.52%, #86ec9c 100%);
$accentBGColorPink: linear-gradient(230.73deg, #b00da1 3.14%, #e69edf 100%);
$accentBGColorBlue: linear-gradient(230.73deg, #08799b 3.14%, #b0edff 100%);

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

