$mainColor: #21035b;
$mainLightColor: white;

$accentBGColorGreen: linear-gradient(228.82deg, #176528 3.52%, #86ec9c 100%);
$accentBGColorPink: linear-gradient(230.73deg, #b00da1 3.14%, #e69edf 100%);
$accentBGColorBlue: linear-gradient(230.73deg, #08799b 3.14%, #b0edff 100%);

$tablet-breakpoint: 1100px;
$mobile-breakpoint: 600px;

